body {
	max-width: 90%;
 background-image: url("css.png");
 margin: 1% auto;
}
header, footer{
 	padding: 2.5%;
 	position: relative;
 	background-color: green;

}
section {
 margin: 1%;
 display: table-cell;
 width:40%;
 padding: 20px;
 background-color: orange;
}
.column-2 {
 background-color: blue;
}
h2 {
 font-family: "Papyrus", Fantasy;
}
footer {
 clear: both;
}
article:nth-child(odd) {
  background-color: pink;
}
