<!DOCTYPE html>
<html>
<head>
	<title>
		Student Login
	</title>
</head>
<body>
<form action="/students" method="POST">
    <label>Username</label>
    <label>Campus</label>
    <label>Password</label>
  </form>

</body>
</html>