.style{
	position: absolute;
}
#glasses{
	position: absolute;
	top: 200px;
	left: 542px;
}
#hat{
	position: absolute;
  	top: 35px;
  	left: 480px;
}
#octopus{
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 500px;
    z-index: -1;	
}